body{
    background: #767DE4;
    margin: 30px 70px;
}

.c{ 
    border: solid black 10px;
    background: white;
    height: 1080px;
    width: 80%;
    max-width: 1200px;
    padding: 1.5em;
    padding-left: 50px;
    padding-right: 50px;
}

.g{
    text-align: right;
}

.g input{
    border: solid 1px gray;
    background: white;
}

.g input[type="button"]:hover{
    background: red;
}

body hr{
    width: 90%;
    border: 1px solid lightgray;
    margin: 10px auto;
}

h1{
    font-size: 3.0em;
    font-weight: 100;
}


.icon{
    width:100px;
    vertical-align:top;
    font-size: 3em;
}

.t{
    font-weight: bold;
}

.t2{
    color: tomato;
}

